NODE_ENV=development
PORT=3000

POSTGRES_USER=wager
POSTGRES_PASSWORD=wager
POSTGRES_DB=wager
POSTGRES_PORT=5432
DATABASE_URL=postgresql://wager:wager@localhost:5432/wager

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/wager-transactions.fifo
SQS_DLQ_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/wager-transactions-dlq.fifo